.icon-left {
  position: absolute;
  left: 10px;
  top: 10px;
}

.icon-right {
  position: absolute;
  right: 10px;
  bottom: 10px;
}

.icon.snowflake {
  color: blue;
}

.icon.sun {
  color: orangered;
}
.season-display {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.season-display.winter {
  background-color: aliceblue;
}

.season-display.summer {
  background-color: bisque;
}

.season-display h1 {
  transform: translateY(-50%);
}
